/* Сетка */
.mt-2 {
   margin-top: 20px;
}
.float-right {
    float: right;
}
.float-left {
    float: left;
}
.container {
    overflow: hidden;
    position: relative;
    max-width: 1000px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}
.col-6, .col-5, .col-4, .col-3, .col-2, .col-1 {
    box-sizing: border-box;
    float: left;
}
.col-6 {
    width: 100%
}
.col-5 {
    width: 83.3333%
}
.col-4 {
    width: 66.6666%
}
.col-3 {
    width: 50%
}
.col-2 {
    width: 33.3333%
}
.col-1 {
    width: 16.6666%
}