/* Сброс стилей */
body {
    margin: 0;
    background-color: #fdfeee;
}

/* Настройка меню */
nav ul {
    margin: 0;
    padding-left: 0;
    list-style: none;
}
nav ul li {
    display: inline-block;
}
.top-menu {
    z-index: 10;
    position: fixed;
    width: 100%;
    top: 0;
    background-color: #fffdb4;
}
nav a {
    text-decoration: none;
    display: block;
    padding: 8px;
    color: #787756;
    font-size: 25px;
    font-family: 'Lobster', cursive;
}
nav a:hover {
    color: #33332e;
}
.parent-menu {
    position: relative;
}
.sub-menu {
    position: fixed;
    background-color: #fffdb4;
}
.sub-menu li {
    display: block;
}
.sub-menu-hidden {
    display: none;
}
.sub-menu-visible {
    display: block;
}

/* Фото */
.img-top {
    overflow: hidden;
    height: 640px;
    width: 100%;
    background-color: #ddd;
    background-image: url(../images/fon_top_sm.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.top-text {
    margin-top: 250px;
}
.top-text h1 {
    font-size: 60px;
    color: #F2FF00;
}
.top-text h4 {
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    color: #fff;
}

/* Биография */
#biography {
    background-color: #F7FFE6;
}
#bigraphy p {
    width: 90%;
    color: #333;
}
.img-bio {
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
}

/* Известные произведения */
#news {
    margin-top: 30px;
    padding-top: 20px;
    padding-bottom: 30px;
    width: 100%;
    background-color: #3d3d3d
}
#news h2 {
    color: white;
}
#news img {
    box-sizing: border-box;
    padding: 10px 5px;
    max-width: 250px;
    width: 100%;
}
.p-news {
    font-size: 50px;
    color: #F2FF00;
    font-family: 'Lobster', cursive;
}
.p-news-text {
    padding: 10px 10px 0px 10px;
    color: white;
}
table {
    margin-top: 10px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    color: #fff;
    font-family: 'Gabriela', serif;
}
table th {
    color: #defa43;
}
table td {
    border-top: 2px solid #fff;
}
table>tfoot>tr>td {
    border-bottom: 2px solid #fff;
}

/* Footer */
footer {
    position: relative;
    box-sizing: border-box;
    padding: 0.2em;
    background-color: #efefef;
}

.bottom-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

/* Стили для content/*.html */
#in_biography {
    padding-top: 55px;
    font-family: 'Gabriela', serif;
}
#in_biography h2 {
    margin-bottom: 20px;
}
#in_biography p {
    padding-bottom: 0px;
    text-indent: 10px;
    margin-bottom: 5px;
}
#in_biography p:last-child {
    margin-bottom: 20px;
}
#in_biography .no_indent {
    padding-left: 10%;
    text-indent: 0px;
}
#font_change {
    font-size: 20px;
    z-index: 10;
    position: fixed;
    left: 10px;
    top: 70px;
}
#font_change i {
    color: rgb(92, 70, 0);  
}
.text-minus,  .text-plus {
    min-width: 115px;
    position: absolute;
    left: 25px;
    font-family: 'Calibri', Courier, monospace;
    font-size: 15px;
}
.text-minus {
    top: -10px;
}
.text-plus {
    top: 15px;
}

.images {
    box-sizing: border-box;
    padding: 10px;
    width: 40%;
}
.writing {
    font-size: 20px;
    font-family: 'Gabriela', serif;
}
#img-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 800px !important;
    width: 100%;
}
.logo {
    width: 35px;
    height: 50px;
}

/* Форма регистрации */
.form-register {
    box-sizing: border-box;
    max-width: 400px;
    padding: 60px 50px;
    margin: 100px auto 20px;
    background-size: cover;
    border-radius: 40px;
    background-color: rgba(107, 89, 11, 0.85);
}
.form-control {
    position: relative;
}
.form-register legend {
    position: relative;
    margin-top: 0;
    margin-bottom: 20px;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 26px;
    text-transform: uppercase;
}
.form-register legend:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -6px;
    height: 2px;
    width: 60px;
    background: rgba(62, 58, 41, 0.85);;
}
.form-register label {
    display: block;
    margin-top: 10px;
    padding-left: 15px;
    padding-bottom: 5px;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
}
.form-register input {
    box-sizing: border-box;
    display: block;
    width: 100%;
    padding: 0 15px;
    border-width: 0;
    line-height: 40px;
    border-radius: 20px;
    color: white;
    font-size: 16px;
    background-color: rgba(255, 255, 255, .25);
}
.form-register input[type="submit"] {
    position: relative;
    margin-top: 25px;
    background: rgba(62, 58, 41, 0.85);
    font-size: 18px;
}
.form-register input[type="submit"]:hover {
    background: rgba(116, 110, 87, 0.85);
}
.form-register span {
    color: #710000;
}
.form-register .form-error {
    margin: 0 15px;
    position: absolute;
    top: 0%;
    left: calc(100% + 10px);
    width: 100%;
    background-color: rgba(250, 250, 125, .6);
    border-radius: 10px;
    padding: 10px;
}
